<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="description" content="A contact manager that will allow you to
																		add, edit, and remove contacts and their information.">
	<meta name="keywords" content="User, Contact, Manager">
	<meta name="author" content="Ahad Bawany, Alexander Cote, Elliot Gray, Cody Traywick,  Nikhil Mahalanobis, Jesse Rehrer">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Conman</title>

	<!--Bootsrap 4 CDN-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!--Fontawesome CDN-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	<!--Custom styles-->

	<link rel="stylesheet" type="text/css" href="css/styles.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="js/script.js"></script>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.1.0/mustache.min.js"></script>

</head>
<body onload="displayUsername();">
    <div class="container">
    	<div class="d-flex justify-content-center h-100">
    	  <div class="card">
    		<div class="card-header text-center">
    		  <h3 style="padding-right: 30px;">Welcome, <span id="loggedInUsername"></span></h3>
    			<button type="button" class="close btn" data-toggle="modal" onclick="addModalMessageClear();" data-target="#modalContact" aria-label="Close" style="right: 15px; top: 0;">
    		    	<span style="font-size: 70px; top: 0;">+</span>
    			</button>
    		</div>
    	  <div class="card-body">

    	  <div class="input-group form-group">
    	    <input class="form-control" type="search" id="searching" onkeyup= "searchContact();" placeholder="Search Contacts" aria-label="Search">
    		  <div class="input-group-append">
    		    <button id="searchButton" onclick="searchContact();"><i class="fas fa-search text-grey" aria-hidden="true"></i></button>
    		  </div>
    	  </div>
    	  <div class="justify-content-center text-center" style="margin-bottom: 5px;">
    	    <span id="contactSearchResult" style="color: #00FF50"></span>
    	    <span id="deleteResult" style="color: #00FF50"></span>
          </div>
    	  <ul class="list-group" id="contactList"></ul>

    		<template id="contactInfoTemplate">
    		  <li class="list-group-item">
              	<div class="row">
                  <div class="col-md-12 col-12">
                   <div class="row">
                    <div class="col-md-8 col-8">
                     <h5 class="font-weight-bold mb-1">
    					<span>{{firstName}} {{lastName}}</span>
    			 	</h5>
                    <div class="user-detail">
                  	  <p class="m-0" id="conPhone">
    					<i class="fa fa-phone mr-1" aria-hidden="true"></i>{{phone}}
    					
    			      </p>
        			  <p class="m-0" id="conEmail">
        			    <i class="fa fa-envelope mr-1" aria-hidden="true"></i>{{email}}
        				
        			  </p>
    				  <p class="m-0" id="conAddress">
    					<i class="fa fa-home mr-1" aria-hidden="true"></i>{{address}}
    				  </p>
    				</div>
                  </div>
        		  
                 </div>
                </div>
               </div>
              </li>
            </template>

    	</div>

        <div class="card-footer d-flex justify-content-center">
          <footer class="mr-auto ml-auto">&copy;Group 18 Small Project</footer>
        	<form action="/Logout.php" method="post">
        	  <button type="submit" id="logoutButton" class="btn btn-default btn-sm align-items-end">
                <span class="fas fa-sign-out-alt"></span> Log out
              </button>
        	</form>
        </div>

      </div>

      <div id="modalContact" class="modal fade show" tabindex="-1" role="dialog" aria-labelledby="modalContact" aria-hidden="true">
    	<div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
    		<div class="modal-header text-center">
    			<h3 class="modal-title" style="margin: 0 auto">Add a Contact</h3>
        			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
    					<span aria-hidden="true">&times;</span>
    				</button>
    		</div>

    		<div class="modal-body">
    			<div class="input-group form-group">
    				<div class="input-group-prepend">
    					<span class="input-group-text"><i class="fas fa-portrait"></i></span>
    				</div>
    				<input type="text" id="firstName" class="form-control" placeholder="First Name" required>
    			</div>

    			<div class="input-group form-group">
    				<div class="input-group-prepend">
    					<span class="input-group-text"><i class="fas fa-portrait"></i></span>
    				</div>
    				<input type="text" id="lastName" class="form-control" placeholder="Last Name" required>
    			</div>

    			<div class="input-group form-group">
    				<div class="input-group-prepend">
    					<span class="input-group-text"><i class="fas fa-phone"></i></span>
    				</div>
    				<input type="tel"  pattern="[0-9]{10}" id="phone" class="form-control" placeholder="Phone Number (0123456789)" required>
    			</div>

    			<div class="input-group form-group">
    				<div class="input-group-prepend">
    					<span class="input-group-text"><i class="fas fa-envelope"></i></span>
    				</div>
    				<input type="email" id="email" class="form-control" placeholder="Email" required>
    			</div>

    			<div class="input-group form-group">
    				<div class="input-group-prepend">
    			    	<span class="input-group-text"><i class="fas fa-home"></i></span>
    				</div>
    				<input type="text" id="address" class="form-control" placeholder="Address" required>
    			</div>
               <div class="justify-content-center text-center">
                    <span id="phoneWarning"></span>
                    <span id="addWarning"></span>
        			<span id="contactAddResult" style="color: #00FF50"></span>
                </div>
    		</div>

    		<div class="modal-footer">
    			<input type="button" value="Add Contact" id="addContact" onclick="addContact();" class="btn login_btn d-flex justify-content-center">
    		</div>

    		</div>
    	  </div>
    	</div>

    	<div id="modalEdit" class="modal fade show" tabindex="-1" role="dialog" aria-labelledby="modalEdit" aria-hidden="true">
    		<div class="modal-dialog modal-dialog-centered" role="document">
    			<div class="modal-content">

        			<div class="modal-header text-center">
        				<h3 class="modal-title" style="margin: 0 auto">Edit Contact</h3>
        				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
        					<span aria-hidden="true">&times;</span>
        				</button>
        			</div>

    				<div class="modal-body">
    					<div class="input-group form-group">
    						<div class="input-group-prepend">
    							<span class="input-group-text"><i class="fas fa-portrait"></i></span>
    						</div>
    						<input type="text" id="editFirstName" class="form-control" placeholder="First Name" required>
    					</div>

    					<div class="input-group form-group">
    						<div class="input-group-prepend">
    							<span class="input-group-text"><i class="fas fa-portrait"></i></span>
    						</div>
    						<input type="text" id="editLastName" class="form-control" placeholder="Last Name" required>
    					</div>

    					<div class="input-group form-group">
    						<div class="input-group-prepend">
    							<span class="input-group-text"><i class="fas fa-phone"></i></span>
    						</div>
    						<input type="tel"  pattern="[0-9]{10}" id="editPhone" class="form-control" placeholder="Phone Number (0123456789)" required>
    					</div>

    					<div class="input-group form-group">
    						<div class="input-group-prepend">
    							<span class="input-group-text"><i class="fas fa-envelope"></i></span>
    						</div>
    						<input type="email" id="editEmail" class="form-control" placeholder="Email" required>
    					</div>

    					<div class="input-group form-group">
    						<div class="input-group-prepend">
    							<span class="input-group-text"><i class="fas fa-home"></i></span>
    						</div>
    						<input type="text" id="editAddress" class="form-control" placeholder="Address" required>
    					</div>

    				</div>
                    <div class="justify-content-center text-center">
                        <span id="editPhoneWarning"></span>
                        <span id="editAddWarning"></span>
                        <span id="updateWarning"></span>
                        <span id="updateResult" style="color: #00FF50"></span>
                    </div>
    				<div class="modal-footer">
    					<input type="button" value="Save Changes" id="saveContact" onclick="updateContact();" class="btn login_btn d-flex justify-content-center">
    				</div>

    			</div>
    		</div>
          </div>

    	</div>
    </div>
</body>
</html>
