html,body{
  background-image: url('../images/login_background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

.container{
  height: 100%;
  align-content: center;
}

.card{
  height: 600px;
  margin-top: auto;
  margin-bottom: auto;
  width: 600px;
  max-height: 80%;
  background-color: rgba(0,0,0,0.35) !important;
}

.card-body {
  overflow: auto;
}

.card-header h3{
color: white;
}


.input-group-prepend span{
  width: 50px;
  background-color: #2568fd;
  color: white;
  border:0 !important;
}

input:focus{
  outline: 0 0 0 0  !important;
  box-shadow: 0 0 0 0 !important;
}


.login_btn{
  color: white;
  background-color: #2568fd;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.login_btn:hover{
  color: #2568fd;
  background-color: white;
}

.links{
  color: white;
}

.links a{
  margin-left: 4px;
  color: #2568fd;
}

footer {
  text-align: center;
  color: white;
}


.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

.modal{
  background-color: rgba(0,0,0,0.9) !important;
}

.modal-content{
  background-color: rgba(50,50,50,1) !important;
  color: white;
}
.modal-header{
  text-align: center;
}

.list-group-item{
    padding: 5px 20px;
}
.list-group-item:hover{
    background: #f1f1f1;
}
